h1 {
    size: 65px;
    color: orange;
    font-family: sans-serif;
}

body {
    font-size: 16px;
}
p {
    font-weight: 600;
    font-size: 3em;
}
ul {
    background-color: paleturquoise;
    font-style: oblique;
    line-height: 50px;
    text-align: justify;
    text-decoration: underline;
}
.listanao {
    background-color: palegreen;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}